<div class="card shadow-lg table-responsive-xxl" style="height: 370px;">
    <div class="container text-center">
        <p-card>
            <h2>Horario entrenamiento actual: <span class="badge bg-secondary">{{categoriaobtenida.dia_entrenamiento}}</span></h2>
        </p-card>
        <div class="row">
            <div class="col">
                <div class="p-inputgroup mb-2 mt-2">
                    <p-selectButton [options]="dias" [(ngModel)]="diaseleccionado1" optionLabel="name"></p-selectButton>
                    <span class="p-inputgroup-addon">/</span>
                    <div class="col-1.5">
                        <input type="time" [(ngModel)]="horaseleccionada1" class="form-control align-middle" id="hora">
                    </div>
                    <span class="p-inputgroup-addon">h</span>
                </div>
                <div *ngIf="(click>0)" class="p-inputgroup mb-2">
                    <p-selectButton [options]="dias" [(ngModel)]="diaseleccionado2" optionLabel="name"></p-selectButton>
                    <span class="p-inputgroup-addon">/</span>
                    <div class="col-1.5">
                        <input type="time" [(ngModel)]="horaseleccionada2" class="form-control" id="hora">
                    </div>
                    <span class="p-inputgroup-addon">h</span>
                </div>
                <div *ngIf="(click>1)" class="p-inputgroup mb-2">
                    <p-selectButton [options]="dias" [(ngModel)]="diaseleccionado3" optionLabel="name"></p-selectButton>
                    <span class="p-inputgroup-addon">/</span>
                    <div class="col-1.5">
                        <input type="time" [(ngModel)]="horaseleccionada3" class="form-control" id="hora">
                    </div>
                    <span class="p-inputgroup-addon">h</span>
                </div>
                <div *ngIf="(click>2)" class="p-inputgroup mb-2">
                    <p-selectButton [options]="dias" [(ngModel)]="diaseleccionado4" optionLabel="name"></p-selectButton>
                    <span class="p-inputgroup-addon">/</span>
                    <div class="col-1.5">
                        <input type="time" [(ngModel)]="horaseleccionada4" class="form-control" id="hora">
                    </div>
                    <span class="p-inputgroup-addon">h</span>
                </div>
                <div class="p-inputgroup mb-2">
                    <button pButton pRipple type="button" style="text-decoration:none" icon="pi pi-plus" [disabled]="click > 2" (click)="AgregarDia()" title="Editar Jugador" class="p-button-rounded btn-primary p-button-sm"></button>
                    <button pButton pRipple type="button" data-bs-toggle="modal" data-bs-target="#confirmacion"  [disabled]="click == 0" (click)="QuitarDia()" style="text-decoration:none" icon="pi pi-minus-circle" class="p-button-rounded p-button-danger"></button>
                </div>
            </div>
            <div class="col-2 mt-2">
                <button type="button" class="btn btn-primary" (click)="GuardarCambios()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<div class="card shadow-lg table-responsive-xxl mt-3">
    <div class="container">
        <div class="row">
            <div class="col-sm"> 
                <div class="mb-3 row">
                    <div class="col-5">
                        <i class="bi bi-person-fill m-2"></i>
                        <label for="nombre" class="form-label">Nombre Categoría:</label>
                        <input type="text"
                        class="form-control" name="" value="{{categoriaobtenida.cod_categoria}}" id="nombre" aria-describedby="helpId" placeholder="Nombre" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-5">
                        <i class="bi bi-person-fill m-2"></i>
                        <label for="" class="form-label">Primer entrenador</label>
                        <input type="text"
                        class="form-control" value="{{categoriaobtenida.entrenador}}" name="dni"  id="" aria-describedby="helpId" placeholder="Escribe un DNI" [readonly]="true" disabled>
                    </div>

                    <div class="mb-3 col-7">
                        <i class="bi bi-person-plus-fill m-2"></i>
                        <label for="" class="form-label">Segundo entrenador</label>
                        <input type="text"
                        class="form-control" value="{{categoriaobtenida.segundo_entrenador}}" name="dni"  id="" aria-describedby="helpId" placeholder="Escribe un DNI" [readonly]="true" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

